<div class="content">
  <h1>HENRY BROOKS</h1>

  Portfolio website

  <ul>
  
    <li>Need to implement project page</li>
    <li>Need to implement resume page</li>
    <li>Education</li>
  
  </ul>
</div>


<div>

<h2>Projects</h2>
list here

</div>

<div>

<h2>Education</h2>

University of Birmingham

- modules of interest
- Projects
- modules
- grades

</div>

<div>

<h2>Resume</h2>

insert resume pdf here
</div>

<footer>
  <div>Henry Brooks</div>
  <div>Github link</div>
  <div>Resume</div>
</footer>
